<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hej!</title>
</head>
<body>
    <h1>Kommentarer!</h1>
    <a href="/">Tillbaka</a>
    {% for c in comments %}
    <div style="padding-top: 5px;">
            <div style="border-style: solid; border-width: 1px;">
            <h3>{{c[3]}}</h3>
            {{c[2]}}
            <p>Gjord av:{{c[1]}}</p>
            {% if session['currentUser'] == c[1] %}
                <form action="{{url_for('deleteComment')}}" method="POST">
                    <input type="hidden" name="id" value="{{c[0]}}">
                    <input type="submit" value="Ta bort">
                </form>
            {% endif %}
            </div>
    </div>
    {% endfor %}
</body>
</html>