<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hej!</title>
</head>
<body>
    <h1>Skitsida</h1>
    <form action="/switch" method="POST">
        <button>Engelska</button>
    </form>
    <h1>Frukter!</h1>

    <ul>
        {% for i in fruits %}
        <li>
            <a href="/fruit/{{i[1]}}">{{i[1]}}</a>
            <p>Utsökthet: {{i[2]}}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>